<template>
  <div>
    <Header />
    <div class="page">
      <router-view />
      <Footer />
    </div>
  </div>
</template>

<script>
  import '../styles/main.scss'
  import '../styles/colors.scss'
  import '../styles/fonts.scss'
  import '../styles/page.scss'
  import '../styles/shadows.scss'

  import Header from '../components/Header'
  import Footer from '../components/Footer'

  export default {
    name: 'App',
    components: {
      Header,
      Footer,
    },
    data() {
      return {
      }
    },
  }
</script>