<template>
  <div>
    <div class="text-page">
      Speak with our loyalty experts today
      Contact us directly or simply drop us a note.
      Office hours are Monday to Friday 9am to 5pm AEST.
    </div>
    <div class="text-page">
      <a href="tel:1300 134 418">Phone: 1300 134 418</a>
    </div>
    <div class="text-page">
      <a href="mailto:info@loyaltycorp.com.au">Email: info@loyaltycorp.com.au</a>
    </div>
    <div class="text-page">
      Address: 1183 Toorak Rd, Camberwell VIC 3124
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Contacts',
    components: {
    },
    data() {
      return {
      }
    },
  }
</script>
