<template>
  <div class="Gallery">
    <div class="Gallery__search-cont">
      <input class="Gallery__search" 
        placeholder="Search..."
        v-model="search"
      />
      <div>
        <div class="Gallery__search-text"
          v-if="search !== ''"
        >
          {{filteredImages.length}} {{filteredImages.length === 1 ? 'image' : 'images'}}
        </div>
      </div>
    </div>
    <div class="Gallery__grid">
      <div class="Gallery__add-btn">
        +
        <span class="Gallery__add-subtitle">add new images</span>
        <input class="Gallery__file-input"
          type="file"
          accept="image/*" 
          @change="uploadImage"
          ref="fileInput"
        >
      </div>
      <PoseTransition
        v-for="(image, index) in filteredImages"
        :key="index"
      >
        <Item class="Gallery__item"
        >
          <img 
            class="Gallery__img"
            :src="image.src"
          />
          <div class="Gallery__img-title-cont">
            <input class="Gallery__img-title" 
              v-model="image.title"
            />
          </div>
        </Item>
      </PoseTransition>
    </div>
    <modal name="upload-image"
      :adaptive="true"
      height="auto"
      @before-close="modalBeforeClose"
    >
      <div class="Gallery__modal" 
        v-if="newImage"
      >
        <img class="Gallery__modal-img"
          :src="newImage.src"
        />
        <div class="Gallery__modal-input-cont">
          <input class="Gallery__modal-input"
            v-model="newImageTitle"
          />
        </div>
        <button class="Gallery__modal-save"
          @click="saveImage"
        >
          Save
        </button>
      </div>
    </modal>
  </div>
</template>

<script>
  import posed, { PoseTransition } from 'vue-pose'

  export default {
    name: 'Gallery',
    components: {
      PoseTransition,
      Item: posed.div({
        enter: {
          opacity: 1, 
          scale: 1,
        },
        exit: {
          opacity: 0, 
          scale: 1.2,
          transition: {
            scale: {
              duration: 0,
              delay: 300,
            }
          },
        },
      }),
    },
    data() {
      return {
        images: [{
          src: 'images/slider/1.jpg',
          title: 'image 1',
        }, {
          src: 'images/slider/2.jpg',
          title: 'image 2',
        }, {
          src: 'images/slider/3.jpg',
          title: 'image 3',
        }],
        newImage: null,
        search: '',
      }
    },
    computed: {
      newImageTitle: {
        get() {
          return this.newImage ? this.newImage.title : ''
        },
        set(val) {
          this.newImage.title = val
        },
      },
      filteredImages: {
        get() {
          if (this.search === '') {
            return this.images
          } else {
            return this.images.filter(img => {
              return img.title.toLowerCase().indexOf(this.search.toLowerCase()) !== -1
            })
          }
        },
      },
    },
    methods: {
      uploadImage(event) {
        const self = this
        const { target: { files } } = event
        const file = files[0]
        
        const reader = new FileReader()
        reader.onload = e => { 
          self.newImage = {
            title: file.name,
            src: e.target.result,
          }
          self.$modal.show('upload-image')
        }
        reader.readAsDataURL(file)
      },
      saveImage() {
        this.images.push({
          ...this.newImage,
        })
        this.$modal.hide('upload-image')
      },
      modalBeforeClose() {
        this.$refs.fileInput.value = ''
        this.newImage = null
      },
    },
  }
</script>

<style lang="scss">
  .Gallery {
    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      grid-auto-rows: 20rem;
      grid-gap: 2rem;
    }

    &__search-cont {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      grid-gap: 2rem;
      margin-bottom: 2rem;
    }

    &__search {
      padding: .5rem 1rem;
      font-size: 1.8rem;
      box-shadow: var(--shadow-soft);
      border: none;

      &:focus,
      &:active {
        outline: none;
      }
    }

    &__search-text {
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 1.4rem;
    }

    &__file-input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    &__item {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    &__add-btn,
    &__img {
      width: 100%;
      height: 100%;
      box-shadow: var(--shadow-soft);
    }

    &__add-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 0;
      font-size: 4rem;
      font-family: var(--font-thin);
      background: var(--blue-fade);
      color: white;
      border: none;
      user-select: none;

      &:focus,
      &:active {
        outline: none;
      }
    }

    &__add-subtitle {
      position: absolute;
      width: 100%;
      top: 65%;
      left: 0;
      text-align: center;
      font-size: 1.8rem;
    }

    &__img {
      min-width: 0;
      min-height: 0;
      object-fit: cover;
    }

    &__img-title-cont {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    &__img-title {
      flex-grow: 1;
      padding: .5rem;
      margin: 0;
      background: var(--white);
      text-align: center;
      font-size: 1.6rem;
      border: none;

      &:focus,
      &:active {
        outline: none;
      }
    }

    &__modal {
      padding: 1.6rem;
    }

    &__modal-img {
      height: 20rem;
      width: 100%;
      object-fit: contain;
    }

    &__modal-input-cont {
      display: flex;
      width: 100%;
      margin-top: 1.6rem;
    }

    &__modal-input,
    &__modal-save {
      padding: .5rem;
      text-align: center;
      font-size: 1.6rem;
      width: 100%;

      &:focus,
      &:active {
        outline: none;
      }
    }

    &__modal-save {
      background: var(--orange);
      border: none;
      margin-top: 1rem;
      color: var(--blue);
      cursor: pointer;
    }
  }
</style>
