<template>
  <div>
    <Spinner v-if="isLoading" />
    <section class="section-main" 
      :style="{
        display: isLoading ? 'none' : '',
      }"
    >
      <div class="section-main__img-cont"
        v-images-loaded.on.loaded:="imageProgress"
      >
        <img class="section-main__img" 
          src="images/main-img.jpg" 
        />
        <div class="section-main__title-block">
          <MainHeader class="section-main__header"
            :pose="isAnimate ? 'visible' : 'hidden'"
          >
            <MainHeaderChild>
              Loyalty
            </MainHeaderChild>
            <MainHeaderChild class="section-main__header-orange">
              Corp
            </MainHeaderChild>
          </MainHeader>
          <Country class="section-main__country"
            :pose="isAnimate ? 'visible' : 'hidden'"
          >
            Australia
          </Country>
        </div>
        <Country class="section-main__map"
          :pose="isAnimate ? 'visible' : 'hidden'"
        >
          <img  class="section-main__map-img" 
            src="images/map.png" 
          />
        </Country>
        <Desctiption class="section-main__description"
          :pose="isAnimate ? 'visible' : 'hidden'"
        >
          <DesctiptionChildren class="section-main__description-title"
            :pose="isAnimate ? 'visible' : 'hidden'"
          >
            Creating experiences that define loyalty
          </DesctiptionChildren>
          <DesctiptionChildren class="section-main__description-text"
            :pose="isAnimate ? 'visible' : 'hidden'"
          >
            Drive engagement, securely transact, and instantly reward employees, members & customers, through your own bespoke and fully branded platform.
          </DesctiptionChildren>
        </Desctiption>
      </div>
    </section>
    <section class="section-about"
       :style="{
        display: isLoading ? 'none' : '',
      }"
    >
      <div class="section-about__text-block">
        <div class="section-about__title"
          data-aos="zoom-out-up"
        >
          We build solutions to help you acquire, retain and better connect with your people.
        </div>
        <div class="section-about__description"
          data-aos="zoom-out-up"
        >
          Whether used collectively or independently, we have the tools to meet your needs with confidence.
        </div>
      </div>
      <div class="section-about__tiles">
        <AboutTile v-for="(tile, index) in aboutTiles" 
          v-bind:key="index"
          :title="tile.title"
          :text="tile.text"
          :data-aos="tile.aos"
          :data-aos-delay="tile.aos_delay"
        />
      </div>
      <div class="section-about__tiles-slider" data-aos="fade-up">
        <Slider
          :responsive="{
            750: {
              items: 2,
            },
          }"
        >
          <div 
            v-for="(tile, index) in aboutTiles"
            v-bind:key="index"
          >
            <AboutTile 
              :title="tile.title"
              :text="tile.text"
            />
          </div>
        </Slider>
      </div>
    </section>
    <section class="section-gallery" data-aos="fade-up"
       :style="{
        display: isLoading ? 'none' : '',
      }"
    >
      <div class="page-header">
        <h2 class="page-header__reflect section-gallery__header">
          Gallery
        </h2>
        <span class="page-header__subtitle">
          Touch
        </span>
      </div>
      <Slider
        :responsive="{
          750: {
            items: 3,
          },
          520: {
            items: 2,
          },
        }"
      >
        <div v-for="n in 10" v-bind:key="n">
          <img :src="`images/slider/${ n }.jpg`" />
        </div>
      </Slider>
    </section>
  </div>
</template>

<script>
  import imagesLoaded from 'vue-images-loaded'
  import posed from 'vue-pose'
  import AOS from 'aos'
  import 'aos/dist/aos.css'

  import Spinner from '../components/Spinner'
  import Slider from '../components/Slider'
  import AboutTile from '../components/AboutTile'

  export default {
    name: 'Home',
    directives: {
      imagesLoaded
    },
    components: {
      Slider,
      Spinner,
      AboutTile,
      MainHeader: posed.h1({
        visible: {
          opacity: 1,
          staggerChildren: 50,
        },
        hidden: {
          opacity: 0,
          transition: { duration: 0, }
        },
      }),
      MainHeaderChild: posed.span({
        visible: { 
          x: 0,
        },
        hidden: {
          x: 200,
        },
      }),
      Country: posed.div({
        visible: {
          opacity: 1,
          transition: { 
            delay: 400, 
            duration: 1000,
          }
        },
        hidden: {
          opacity: 0,
        },
      }),
      Desctiption: posed.div({
        visible: {
          opacity: 1,
          scale: 1,
          transition: { 
            delay: 600, 
            duration: 500,
            type: 'tween',
            ease: 'backInOut',
          },
        },
        hidden: {
          opacity: 0,
          scale: 1.2,
        },
      }),
      DesctiptionChildren: posed.div({
        visible: {
          opacity: 1,
          scale: 1,
          transition: { 
            delay: 700, 
            duration: 500,
            type: 'tween',
            ease: 'backInOut',
          },
        },
        hidden: {
          opacity: 0,
          scale: 1.2,
        },
      }),
    },
    data() {
      return {
        isAnimate: false,
        isLoading: true,
        aboutTiles: [{
            title: 'Rewards & Benefits',
            text: 'Access our exclusive marketplace with offers from leading retail & lifestyle brands and service providers, or create your very own Community Hub.',
            aos: 'zoom-in-right',
            aos_delay: 0,
          }, { 
            title: 'Engagement & Gamification',
            text: 'Tailor a unique brand experience with dynamic rules and triggers designed to inspire engagement and influence consumer journey.',
            aos: 'zoom-in-left',
            aos_delay: 500,
          }, { 
            title: 'Employee Recognition',
            text: 'Boost employee satisfaction and workplace culture, whilst celebrating your people’s success with our social award and recognition solutions.',
            aos: 'zoom-in-right',
            aos_delay: 0,
          }, { 
            title: 'Member & Customer Incentives',
            text: 'Create value added experiences through targeted product campaigns and promotional mechanics to create stickiness amongst your members.',
            aos: 'zoom-in-left',
            aos_delay: 500,
          }, { 
            title: 'eWallet & Payments',
            text: 'Launch your own personalised digital eWallet experience where stakeholders can securely transact with your brand and products.',
            aos: 'zoom-in-right',
            aos_delay: 0,
          }, { 
            title: 'Health & Wellness',
            text: 'Infuse wellbeing into the core of your organisation and promote healthier habits through personalised, interactive & educational programs.',
            aos: 'zoom-in-left',
            aos_delay: 500,
        }],
      }
    },
    created () {
    },
    mounted() {
    },
    methods: {
      imageProgress(instance, image ) {
        this.isLoading = false
        setTimeout(() => {
          this.isAnimate = true
          AOS.init()
        }, 300)
      }
    },
  }
</script>