<template>
  <div class="about-tile">
    <div class="about-tile__title">
      {{title}}
    </div>
    <div class="about-tile__text">
      {{text}}
    </div>
  </div>
</template>

<script>
  import '../styles/components/about-tile.scss'

  export default {
    name: 'AboutTile',
    components: {
    },
    data() {
      return {
      }
    },
    props: {
      title: String,
      text: String,
    },
    methods: {
    },
  }
</script>
