<template>
  <div class="footer">
    © UberSoft, 2019
  </div>
</template>

<script>
  import '../styles/components/footer.scss'

  export default {
    name: 'Footer',
    components: {
    },
    data() {
      return {
      }
    },
    methods: {
    },
  }
</script>
