<template>
  <nav class="header">
    <div class="header__inner" ref="headerInner">
      <div class="header__logo">
        <img src="images/logo.png" class="header__logo-img" />
      </div>
      <PoseTransition>
        <FadeBlock v-if="isMobileMenu">
          <div class="header__menu-btn" v-on:click="handleMenu">
            <svg width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" stroke="currentColor"/>
            </svg>
          </div>
        </FadeBlock>
      </PoseTransition>
      <PoseTransition>
        <FadeBlock class="header__link-block" v-bind:class="{ 'header__link-block_open': isMenuOpen }" v-if="isLinksShow">
          <LinkItem>
            <router-link to="/" class="header__link">Home</router-link>
          </LinkItem>
          <LinkItem>
            <router-link to="/gallery" class="header__link">Gallery</router-link>
          </LinkItem>
          <LinkItem>
            <router-link to="/contacts" class="header__link">Contacts</router-link>
          </LinkItem>
        </FadeBlock>
      </PoseTransition>
    </div>
    <LineBlue class="header__line header__line_blue" 
      :pose="isLineBlueAnimated ? 'visible' : 'hidden'" />
    <LineOrange class="header__line header__line_orange"
      :pose="isLineOrangeAnimated ? 'visible' : 'hidden'" />
  </nav>
</template>

<script>
  import '../styles/components/header.scss'

  import posed, { PoseTransition } from 'vue-pose'

  const BREAKPOINTS = {
    mobileMenu: 520,
  }

  export default {
    name: 'Header',
    components: {
      PoseTransition,
      LineBlue: posed.div({
        visible: {
          width: '100%',
          transition: { duration: 600, ease: 'easeOut', },
        },
      }),
      LineOrange: posed.div({
        visible: {
          width: '60%',
          transition: { duration: 1000, ease: 'easeOut', }
        },
      }),
      FadeBlock: posed.div({
        enter: {
          opacity: 1,
          staggerChildren: 50,
        },
        exit: {
          opacity: 0,
          transition: { duration: 0, }
        },
      }),
      LinkItem: posed.span({
        enter: { 
          x: 0,
          opacity: 1,
        },
        exit: {
          x: -20,
          opacity: 0,
        },
      })
    },
    created() {
      window.addEventListener('scroll', this.handleScroll)
      window.addEventListener('resize', this.handleResize)
    },
    destroyed() {
      window.removeEventListener('scroll', this.handleScroll)
      window.removeEventListener('resize', this.handleResize)
    },
    mounted() {
      this.isLineBlueAnimated = true
      this.isLineOrangeAnimated = true

      this.handleResize()
    },
    data() {
      return {
        // line animation
        isLineBlueAnimated: false,
        isLineOrangeAnimated: false,
        // menu
        isLinksShow: true,
        isMobileMenu: false,
        isMenuOpen: false,
      }
    },
    methods: {
      calcStyleValue(initVal, maxScroll, endVal) {
        const diff = initVal - endVal
        const divider = maxScroll / diff

        return (initVal - (window.pageYOffset <= maxScroll ? window.pageYOffset / divider : diff)) / 10
      },
      handleScroll(event) {
        const headerInner = this.$refs.headerInner

        headerInner.style.height = `${ this.calcStyleValue(80, 120, 50) }rem`
        headerInner.style.fontSize = `${ this.calcStyleValue(26, 120, 18) }rem`
      },
      handleResize(event) {
        if (window.innerWidth > BREAKPOINTS.mobileMenu) {
          this.isMobileMenu = false
        } else {
          this.isMobileMenu = true
          this.isMenuOpen = false
        }
        this.isLinksShow = !this.isMobileMenu
      },
      handleMenu() {
        this.isMenuOpen = this.isLinksShow = !this.isMenuOpen 
      },
    },
  }
</script>
