<template>
  <div class="slider__cont">
    <VueTinySlider 
      :mouse-drag="true" 
      :loop="false" 
      :items="items" 
      gutter="20"
      :lazyload="true"
      :touch="true"
      :controls="false"
      :nav="true"
      :arrow-keys="true"
      :responsive="responsive"
    >
      <slot></slot>
    </VueTinySlider>
  </div>
</template>

<script>
  import '../../../node_modules/tiny-slider/src/tiny-slider.scss'
  import '../styles/components/slider.scss'

  import VueTinySlider from 'vue-tiny-slider'

  export default {
    name: 'Slider',
    components: {
      VueTinySlider,
    },
    props: {
      items: {
        type: Number,
        default: 1,
      },
      responsive: Object,
    },
    data() {
      return {
      }
    },
  }
</script>
