<template>
  <div class="spinner__cont">
    <div class="spinner"></div>
  </div>
</template>

<script>
  import '../styles/components/spinner.scss'

  export default {
    name: 'Spinner',
    components: {
    },
    data() {
      return {
      }
    },
    props: {
    },
    methods: {
    },
  }
</script>
