.about-tile {
  width: 30rem;
  height: 21.6rem;
  padding: 1.6rem;
  box-sizing: border-box;
  background: var(--white);
  font-size: 1.8rem;
  text-align: center;
  box-shadow: var(--shadow-hard);
  user-select: none;

  @media (max-width: 990px) {
    width: auto;
    height: 24rem;
  }

  &__title {
    font-family: var(--font-medium);
    padding-bottom: 1.6rem;
    margin-bottom: 1.6rem;
    border-bottom: 1px solid var(--blue-fade);
  }
}