.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background: var(--blue);
  margin: 2rem calc(var(--page-padding) * -1) calc(var(--page-padding) * -1);
  font-size: 1.4rem;
  color: var(--white);
}