.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: var(--white);

  &__inner {
    max-width: var(--max-page-width);
    box-sizing: border-box;
    height: 8rem;
    margin: auto;
    padding: 1rem var(--page-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.6rem;

    transition: fontSize .3s, height .3s;
    will-change: fontSize, height;
  }

  &__logo {
    height: 50%;
    flex: 0 0 6rem;
  }

  &__logo-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: left;
  }

  $link-margin: 1rem;

  &__link-block {
    display: flex;
    margin: 0 -$link-margin;

    & > * {
      margin: 0 $link-margin;
    }

    @media (max-width: 520px) {
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;
      margin: 0;
      background: var(--white);

      &:not(&_open) {
        display: none;
      }

      & > * {
        margin: $link-margin;
      }
    }
  }

  &__menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1em;
    font-family: var(--font-medium);
    color: var(--blue);
    transition: color .3s;
    will-change: color;
    user-select: none;
    
    &.router-link-exact-active {
      color: var(--orange);
    }
  }

  &__line {
    $line-height: .4rem;

    position: absolute;
    width: 0%;
    height: $line-height;
    bottom: -$line-height;

    &_blue {
      background: var(--blue);
    }
    &_orange {
      background: var(--orange);
    }
  }
}
