.slider {
  &__cont {
    & > .tns-outer {
      display: flex;
      flex-direction: column-reverse;
    }

    & .tns-ovh {
      padding: 1rem;
      margin: -1rem;
    }
    
    & .tns-nav {
      margin-top: 2rem;
      text-align: center;

      & > button {
        width: 1.6rem;
        height: 1.6rem;
        margin: 0 .5rem;
        border: 1px solid var(--orange);
        border-radius: 50%;

        &:focus,
        &:active {
          outline: none;
        }
      }
    }

    & .tns-nav-active {
      background: var(--orange);
    }

    & .tns-item {
      height: 24rem;
      
      & > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        box-shadow: var(--shadow-soft);
      }
    }
  }
}