// SanFrancisco
@font-face {
  font-family: SanFrancisco-Ultralight;
  src: url('/fonts/SFUIDisplay-Ultralight.otf');
}

@font-face {
  font-family: SanFrancisco-Thin;
  src: url('/fonts/SFUIDisplay-Thin.otf');
}

@font-face {
  font-family: SanFrancisco-Light;
  src: url('/fonts/SFUIDisplay-Light.otf');
}

@font-face {
  font-family: SanFrancisco-Regular;
  src: url('/fonts/SFUIDisplay-Regular.otf');
}

@font-face {
  font-family: SanFrancisco-Medium;
  src: url('/fonts/SFUIDisplay-Medium.otf');
}

@font-face {
  font-family: SanFrancisco-Bold;
  src: url('/fonts/SFUIDisplay-Bold.otf');
}

:root {
  --font-ultralight: 'SanFrancisco-Ultralight';
  --font-thin: 'SanFrancisco-Thin';
  --font-light: 'SanFrancisco-Light';
  --font-regular: 'SanFrancisco-Regular';
  --font-medium: 'SanFrancisco-Medium';
  --font-bold: 'SanFrancisco-Bold';
}
