:root {
  --max-page-width: 117rem;
  --page-padding: 3.2rem;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: var(--max-page-width);
  padding: calc(var(--page-padding) + 8rem) var(--page-padding) var(--page-padding);
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  box-shadow: var(--shadow-hard);
}

.page-header {
  position: relative;
  padding: 0 1.6rem;
  margin: 14.6rem 0 8rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--orange);

  @media (max-width: 990px) {
    margin-top: 8rem;
  }

  & > h2 {
    margin: 0;
    font-size: 3.2rem;
  }

  &__subtitle {
    position: absolute;
    right: 1.6rem;
    bottom: .3rem;
    font-size: 1.7rem;
  }

  &__reflect,
  &__reflect::before {
    display: block;
    margin: 0;
    padding: 0;
  }

  &__reflect::before,
  &__reflect::after {
    position: absolute;
    top: 100%;
    margin-top: .3rem;
  }

  &__reflect {
    position: relative;

    &::before {
      transform: scale(1, -1);
      backface-visibility: visible; 
      z-index: 1;
    }

    &::after {
      content: '';
      display: block;
      left: 0;
      width: 100%;
      height: 6rem; 
      background-image: linear-gradient(to bottom, 
        rgba(255, 255, 255, .9) 0%, 
        rgba(255, 255, 255, 1) 50%);
      z-index: 2;
    }
  }
}

.section-main {
  &__img-cont {
    position: relative;
    height: 70rem;
    margin: calc(var(--page-padding) * -1);
    overflow: hidden;
    padding-bottom: 6rem;

    transition: height .3s;
    will-change: height;

    @media (max-width: 524px) {
      height: 50rem;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    @media (max-width: 660px) {
      object-position: -19rem;
    }
  }

  &__title-block {
    position: absolute;
    right: var(--page-padding);
    top: 5rem;
    text-align: right;
    color: var(--blue);
    font-size: 8.6rem;
    transition: font .3s;
    will-change: font;

    @media (max-width: 520px) {
      font-size: 4.8rem;
    }
  }

  &__header {
    display: flex;
    font-size: 1em;
    font-family: var(--font-medium);
    margin: 0;
  }

  &__header-orange {
    color: var(--orange);
  }

  &__country {
    font-size: .55em;
  }

  &__map {
    position: absolute;
    bottom: 12rem;
    right: var(--page-padding);
    width: 30%;
  }

  &__map-img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    opacity: 1;

    transition: opacity .3s;
    will-change: opacity;

    @media (max-width: 766px) {
      opacity: 0;
    }
  }

  &__description {
    position: absolute;
    bottom: 0;
    width: 46rem;
    margin: 0 var(--page-padding) 1rem var(--page-padding);
    padding: 5.6rem 4.6rem;
    box-sizing: border-box;
    font-size: 3.8rem;
    color: var(--blue);
    background: rgba(var(--orange-clear), 0.9);
    text-align: center;
    box-shadow: var(--shadow-soft);

    transition: width .3s, font .3s, padding .3s;
    will-change: width, font, padding;

    @media (max-width: 524px) {
      width: calc(100% - var(--page-padding) * 2);
      font-size: 2.6rem;
      padding: 3.2rem 2.6rem;
    }
  }

  &__description-title {
    margin-bottom: 5.6rem;
    font-size: 1em;
    font-family: var(--font-medium);
  }

  &__description-text {
    font-size: .68em;
  }
}

.section-about {
  display: flex;
  justify-content: space-between;

  background: var(--blue-fade);
  margin: 12rem calc(var(--page-padding) * -1) 0;
  border-bottom: 1rem solid var(--orange);

  @media (max-width: 990px) {
    flex-direction: column;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    max-width: 34rem;
    color: var(--white);
    text-align: center;
    font-size: 2.6rem;
    margin: var(--page-padding);
    padding: 0 2rem;

    @media (max-width: 990px) {
      max-width: unset;
      min-width: 100%;
      box-sizing: border-box;
      margin: var(--page-padding) 0;
      height: auto;
      justify-content: flex-start;
    }
  }

  &__title {
    margin-bottom: 2.8rem;
    padding-bottom: 2.8rem;
    border-bottom: 1px solid var(--white);
  }

  &__description {
    font-size: .69em;
  }

  &__tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.6rem;
    margin: -5rem var(--page-padding);
      
    @media (max-width: 990px) {
      display: none;
    }
  }

  &__tiles-slider {
    margin: 2rem 2rem 4rem;

    @media (min-width: 991px) {
      display: none;
    }
  }
}

.section-gallery {
  &__header::before {
    content: 'Gallery';
  }
}

.text-page {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;

  & a {
    text-decoration: none;
    color: var(--orange);
  }
}